[Unit]
Description=ERROR watchfile for xxnetwork-log folder

[Service]
PIDFile=/opt/xxnetwork/watch.pid
User=XX
Restart=always
Environment=DEBUG=*
KillSignal=SIGQUIT
WorkingDirectory=/opt/xxnetwork/
ExecStart=/bin/bash watchlog.sh


[Install]
WantedBy=multi-user.target
